@model GiftViewModel

<div>
    <label asp-for="Title"></label>
    <input type="text" asp-for="Title" />
    <span asp-validation-for="Title"></span>
</div>
<div>
    <label asp-for="Description"></label>
    <input type="text" asp-for="Description" />
    <span asp-validation-for="Description"></span>
</div>
<div>
    <label asp-for="Url"></label>
    <input type="text" asp-for="Url" />
    <span asp-validation-for="Url"></span>
</div>
<div>
    <label asp-for="Priority"></label>
    <input type="text" asp-for="Priority" />
    <span asp-validation-for="Priority"></span>
</div>
<div>
    <label asp-for="UserId"></label>
        <select asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
            <option>Please select one</option>
        </select>
</div>