@model GiftViewModel

<div asp-validation-summary="All"></div>
<div class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="Title"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="Title" />
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="Description"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="Description" />
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="Url"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="Url" />
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="Priority"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="Priority" />
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="UserId"></label>
            <select class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
                <option>Please select one</option>
            </select>
        </div>
    </div>
</div>