@model GiftViewModel

@{
    ViewBag.Title = "Create a Gift";
}

<form asp-controller="Gifts" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="px-4 py-2 mr-2 leading-10 bg-blue-300 border-blue-800 rounded-xl hover:bg-yellow-500">Create</button>
    <a class="inline-block px-4 py-2 leading-10 bg-blue-300 border-blue-800 rounded-xl hover:bg-yellow-500" asp-controller="Gifts" asp-action="Index">Cancel</a>
</form>
