@model GiftViewModel

@{ViewBag.Title="Create Gift";}

<form asp-controller="Gifts" asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label> : <input type="text" asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Description"></label> : <input type="text" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label asp-for="Url"></label> : <input type="text" asp-for="Url"/>
        <span asp-validation-for="Url"></span>
    </div>

    <div>
        <label asp-for="Priority"></label> : <input type="text" asp-for="Priority"/>
        <span asp-validation-for="Priority"></span>
    </div>

    <div>
        <label asp-for="userId"></label> : <input type="text" asp-for="userId"/>
        <span asp-validation-for="userId"></span>
    </div>

    <button>Create Gift</button>
</form>