@model GiftViewModel

<form asp-controller="Gifts" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Update</button>
    <a asp-controller="Gifts" asp-action="Index">Cancel</a>
</form>