@model List<GiftViewModel>

@{int counter = 0;}

@foreach(var groupViewModel in Model) {
    <section>
        @groupViewModel.Title <a asp-action="Edit" asp-route-id=@counter>Edit</a><form asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
        @{counter++;}
    </section>
}
<a asp-action="Create">Create</a>