@model List<GiftViewModel>
@{
    ViewBag.Title="Gifts";

    int counter = 0;
    foreach(var gift in Model){
        <section>
            Title: @gift.Title - Description: @gift.Description - Url : @gift.Url -  <a asp-asp-controller="Gifts" asp-action="Edit" asp-route-id=@counter>Edit</a>
            <form asp-controller="Gifts" asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
            @{counter++;}
        </section>
        
    }
}
<a asp-controller="Gifts" asp-action="Create">Create gift</a>