@{
    ViewBag.Title="Gifts";
}
<a asp-controller="Gifts" asp-action="Create">Create Gifts</a>
<a asp-controller="Gifts" asp-action="Read">Read Gifts</a>
<a asp-controller="Gifts" asp-action="Update">Update Gifts</a>
<a asp-controller="Gifts" asp-action="Delete">Delete Gifts</a>