@{
    ViewBag.Title="Groups";
}
<a asp-controller="Groups" asp-action="Create">Create Group</a>
<a asp-controller="Groups" asp-action="Read">Read Groups</a>
<a asp-controller="Groups" asp-action="Update">Update Group</a>
<a asp-controller="Groups" asp-action="Delete">Delete Group</a>

