@model List<GroupViewModel>
@{
    ViewBag.Title="Groups";

    int counter = 0;
    foreach(var group in Model){
        <section>
            Group Name: @group.GroupName <a asp-asp-controller="Groups" asp-action="Edit" asp-route-id=@counter>Edit</a>
            <form asp-controller="Groups" asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
            @{counter++;}
        </section>
        
    }
}
<a asp-controller="Groups" asp-action="Create">Create Group</a>