@model UserViewModel

<div asp-validation-summary="All"></div>
<div class="mb-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="FirstName"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="FirstName" />
        </div>
        <div>
            <label class="text-gray-500 font-bold text-right" asp-for="LastName"></label>
            <input class="w-full border-b-2 border-green-300 focus:border-green-600 focus:ring-transparent focus:outline-none" type="text" asp-for="LastName" />
        </div>
    </div>
</div>