@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button>Create</button>
    <a asp-controller="Users" asp-action="Index">Cancel</a>
</form>