@model UserViewModel

@{
    ViewBag.Title = "Edit a User";
}

<form asp-controller="Users" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
<button class="px-4 py-2 mr-2 leading-10 bg-blue-300 border-blue-800 rounded-xl hover:bg-yellow-500">Update</button>
    <a class="inline-block px-4 py-2 leading-10 bg-blue-300 border-blue-800 rounded-xl hover:bg-yellow-500" asp-controller="Users" asp-action="Index">Cancel</a>
</form>