@model List<UserViewModel>
@{
    ViewBag.Title="Users";

    int counter = 0;
    foreach(var user in Model){
        <section>
            @user.FirstName @user.LastName <a asp-asp-controller="Users" asp-action="Edit" asp-route-id=counter>Edit</a>
            @{counter++;}
        </section>
        
    }
}
<a asp-controller="Users" asp-action="Create">Create User</a>
<a asp-controller="Users" asp-action="Delete">Delete User</a>