@model List<UserViewModel>

@{int counter = 0;}

@foreach(var userViewModel in Model) {
    <section>
        @userViewModel.FirstName @userViewModel.LastName <a asp-action="Edit" asp-route-id=@counter>Edit</a><form asp-action="Delete" asp-route-id=@counter method="post"><button>X</button></form>
        @{counter++;}
    </section>
}
<a asp-action="Create">Create</a>